.float-button {
  position:fixed;
  bottom:90px;
  right:50px;
  width:80px;
  height:80px;
  background:#b4d145;
  border-radius:10%;
  border:none;
  box-shadow:11px 7px 10px 1px rgb(0 0 0 / 50%);
}

.float-talk {
  position:fixed;
  height:70%;
  width:40%;
  bottom:190px;
  right:50px;
  background:#b4d145;
  border:none;
  box-shadow:0 0 10px 10px rgb(0 0 0 / 50%);
}


@media (max-width: 700px) {
  .float-button {
    bottom:40px;
  }

  .float-talk {
    bottom:150px;
    width: 70%;
    height: 50%;
  }
}
